<!DOCTYPE html>
<html>
<head>
<title>Student Registration</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>College Admission Registration</h1>

<form action="/register" method="POST">

<input type="text" name="name"
placeholder="Full Name" required>

<input type="email" name="email"
placeholder="Email" required>

<input type="text" name="phone"
placeholder="Phone Number" required>

<input type="number" name="age"
placeholder="Age" required>

<select name="gender">
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>

<input type="text" name="address"
placeholder="Address">

<input type="text"
name="academic_year"
placeholder="Academic Year">

<input type="number"
name="tenth_marks"
placeholder="10th Marks">

<input type="number"
name="twelfth_marks"
placeholder="12th Marks">

<input type="number"
name="merit_rank"
placeholder="Merit Rank">

<input type="text"
name="allotment_letter"
placeholder="Allotment Letter No">

<select name="course">
<option>BCA</option>
<option>B.Tech</option>
<option>BBA</option>
<option>MCA</option>
<option>MBA</option>
</select>

<select name="status">
<option>Pending</option>
<option>Approved</option>
<option>Rejected</option>
</select>

<button type="submit">
Register Student
</button>

</form>

</div>

</body>
</html>